In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
# merging all the files from faa website
# df1 = pd.read_excel('../../courses/cmse-830/datasets/faa_wildlife_strikes/Wildlife_Export_1990_to_2005.xlsx')
# df2 = pd.read_excel('../../courses/cmse-830/datasets/faa_wildlife_strikes/Wildlife_Export_2006_to_2010.xlsx')
# df3 = pd.read_excel('../../courses/cmse-830/datasets/faa_wildlife_strikes/Wildlife_Export_2011_to_2015.xlsx')
# df4 = pd.read_excel('../../courses/cmse-830/datasets/faa_wildlife_strikes/Wildlife_Export_2016_to_2019.xlsx')
# df5 = pd.read_excel('../../courses/cmse-830/datasets/faa_wildlife_strikes/Wildlife_Export_2020_to_2022.xlsx')

# df1.shape,  df2.shape, df3.shape, df4.shape, df5.shape 

# df = pd.concat([df1, df2, df3, df4, df5])
# print(df.shape)
# df.head()

# df.to_csv('../../courses/cmse-830/datasets/faa_wildlife_strikes/all_compiled_data.csv', index=False)

In [3]:
# below are the finally selected field 
# 'INDX_NR', 'INCIDENT_DATE ', 'INCIDENT_MONTH', 'INCIDENT_YEAR', 'TIME', 'TIME_OF_DAY', 'AIRPORT_ID',
# 'AIRPORT', 'LATITUDE', 'LONGITUDE', 'STATE', 'FAAREGION', 'LOCATION', 'OPID', 
# 'OPERATOR', 'REG', 'FLT', 'AIRCRAFT', 'AMA', 'AMO', 'EMA', 'EMO', 'AC_CLASS', 'AC_MASS', 'TYPE_ENG', 'NUM_ENGS', 
# 'ENG_1_POS', 'ENG_2_POS', 'ENG_3_POS', 'ENG_4_POS', 'PHASE_OF_FLIGHT', 'HEIGHT', 'SPEED', 'DISTANCE', 'SKY', 'PRECIPITATION',
# 'AOS', 'COST_REPAIRS', 'COST_OTHER', 'COST_REPAIRS_INFL_ADJ', 'COST_OTHER_INFL_ADJ', 'INDICATED_DAMAGE', 'DAMAGE_LEVEL', 
# 'STR_RAD', 'DAM_RAD', 'STR_WINDSHLD', 'DAM_WINDSHLD', 'STR_NOSE', 'DAM_NOSE', 'STR_ENG1', 'DAM_ENG1', 'STR_ENG2', 'DAM_ENG2', 
# 'STR_ENG3', 'DAM_ENG3','STR_ENG4', 'DAM_ENG4', 'STR_PROP', 'DAM_PROP', 'STR_WING_ROT', 'DAM_WING_ROT', 
# 'STR_FUSE', 'DAM_FUSE', 'STR_LG', 'DAM_LG', 'STR_TAIL', 'DAM_TAIL', 'STR_LGHTS', 'DAM_LGHTS', 'STR_OTHER', 'DAM_OTHER',
# 'SPECIES_ID', 'SPECIES', 'EFFECT', 'EFFECT_OTHER','WARNED', 'NUM_SEEN','NUM_STRUCK', 'NR_INJURIES', 'NR_FATALITIES', 'SIZE'

# below are the rejected fields
# 'RUNWAY',  'ENROUTE_STATE', 
# 'INGESTED_OTHER', 
#  'OTHER_SPECIFY',  'REMARKS', 'REMAINS_COLLECTED', 'REMAINS_SENT', 'BIRD_BAND_NUMBER',  
# 'SIZE',  'COMMENTS', 'REPORTER_NAME', 'REPORTER_TITLE', 'SOURCE', 'PERSON', 'LUPDATE', 'IMAGE', 'TRANSFER'

In [37]:
# df = pd.read_csv('../../courses/cmse-830/datasets/faa_wildlife_strikes/all_compiled_data.csv')
df = pd.read_csv('../../courses/cmse-830/datasets/faa_wildlife_strikes/main_data.csv')

print(df.shape)
df.head()

(269231, 81)

/tmp/ipykernel_12162/2265809867.py:2: DtypeWarning: Columns (19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../courses/cmse-830/datasets/faa_wildlife_strikes/main_data.csv')

,INDX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,SPECIES_ID,SPECIES,EFFECT,EFFECT_OTHER,WARNED,NUM_SEEN,NUM_STRUCK,NR_INJURIES,NR_FATALITIES,SIZE
0,675732,2005-12-31,12,2005,06:35,Night,KOAK,METRO OAKLAND INTL,37.72129,37.72129,...,UNKBM,Unknown bird - medium,NaN,NaN,Unknown,,1,NaN,NaN,Medium
1,674956,2005-12-31,12,2005,07:30,Day,KSBA,SANTA BARBARA MUNICIPAL,34.42621,34.42621,...,ZT002,Western meadowlark,NaN,NaN,No,,2-10,NaN,NaN,Small
2,673473,2005-12-31,12,2005,08:30,Day,KJFK,JOHN F KENNEDY INTL,40.63975,40.63975,...,ZX505,Snow bunting,None,NaN,Yes,2-10,2-10,NaN,NaN,Small
3,673474,2005-12-31,12,2005,11:45,Day,KJFK,JOHN F KENNEDY INTL,40.63975,40.63975,...,NE101,Herring gull,"None, Aborted Take-off",NaN,Yes,1,1,NaN,NaN,Medium
4,676566,2005-12-31,12,2005,19:00,Night,KOAK,METRO OAKLAND INTL,37.72129,37.72129,...,UNKBM,Unknown bird - medium,None,NaN,Unknown,,1,NaN,NaN,Medium

In [6]:
# add the code to show description of the variables

In [15]:
# df['LONGITUDE'] = pd.to_numeric(df.LATITUDE)
# df['INCIDENT_YEAR'] = pd.to_numeric(df.INCIDENT_YEAR)
# df.to_csv('../../courses/cmse-830/datasets/faa_wildlife_strikes/main_data.csv', index=False)

In [20]:
a = list(df.describe().to_dict().keys())
len(a)

22

In [43]:
df['TIME_OF_DAY']

0         Night
1           Day
2           Day
3           Day
4         Night
          ...
269226    Night
269227      Day
269228    Night
269229      Day
269230      Day
Name: TIME_OF_DAY, Length: 269231, dtype: object

In [25]:
df[[c for c in list(df.columns) if c not in a]].dtypes

INCIDENT_DATE       object
TIME                object
TIME_OF_DAY         object
AIRPORT_ID          object
AIRPORT             object
STATE               object
FAAREGION           object
LOCATION            object
OPID                object
OPERATOR            object
REG                 object
FLT                 object
AIRCRAFT            object
AMA                 object
AMO                 object
EMO                 object
AC_CLASS            object
TYPE_ENG            object
PHASE_OF_FLIGHT     object
SKY                 object
PRECIPITATION       object
INDICATED_DAMAGE      bool
DAMAGE_LEVEL        object
STR_RAD               bool
DAM_RAD               bool
STR_WINDSHLD          bool
DAM_WINDSHLD          bool
STR_NOSE              bool
DAM_NOSE              bool
STR_ENG1              bool
DAM_ENG1              bool
STR_ENG2              bool
DAM_ENG2              bool
STR_ENG3              bool
DAM_ENG3              bool
STR_ENG4              bool
DAM_ENG4              bool
STR_PROP              bool
DAM_PROP              bool
STR_WING_ROT          bool
DAM_WING_ROT          bool
STR_FUSE              bool
DAM_FUSE              bool
STR_LG                bool
DAM_LG                bool
STR_TAIL              bool
DAM_TAIL              bool
STR_LGHTS             bool
DAM_LGHTS             bool
STR_OTHER             bool
DAM_OTHER             bool
SPECIES_ID          object
SPECIES             object
EFFECT              object
EFFECT_OTHER        object
WARNED              object
NUM_SEEN            object
NUM_STRUCK          object
SIZE                object
dtype: object

In [45]:
df.TIME_OF_DAY.value_counts()

Day      96152
Night    47144
Dusk      7145
Dawn      5737
Name: TIME_OF_DAY, dtype: int64

In [28]:
df.NUM_SEEN.describe()['min']

KeyError: 'min'

## Total Number of Fields = 81
## Total Number of Categorical Fields = 27
## Total Number of Numeric Fields = 22
## Total Number of Boolean Field = 29
## Total Number of Datetime fields =  2
## Total Number of Text fields = 1